---
import astroLogo from '@/assets/astro.svg';
import { Carousel } from '@/components/common/carousel';
---

<section class="search-section">
    <div class="search-icons-container">
        <Carousel client:load
            direction="horizontal"
            isInfiniteLoop={false}
            flow='reverse'
        >
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                    <a href="http://friv.com">
                <span class="search-icon-label">Service 1</span>
                </a>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
                        <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
                        <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
        </Carousel>
        <Carousel client:load
            direction="horizontal"
            isInfiniteLoop={false}
            flow='normal'
        >
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
                        <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
                        <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
        </Carousel>
        <Carousel client:load
            direction="horizontal"
            isInfiniteLoop={false}
            flow='normal'
        >
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
                        <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
                        <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 1</span>
            </div>
            <div class="search-icon">
                <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
                <span class="search-icon-label">Service 2</span>
            </div>
        </Carousel>
    </div>
    <div class="search-bar-container">
        <input class="search-bar-input" type="text" placeholder="Search..." />
        <button class="search-bar-button">Search</button>
    </div>
</section>

<style>
	.search-section {
        position: relative;
        display: grid;
        align-items: center;
        justify-items: center;
        height: 60vh;
        width: 100%;
        .search-icons-container {
            justify-content: center;
            background-color: var(--primary-color);
            overflow: hidden;
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: var(--spacing-md);
            width: 100%;
            height: 60vh;
            .search-icon {
                border: var(--border-width-thin) solid var(--secondary-color);
                height: min-content;
                width: min-content;
                opacity: .3;
                padding: var(--spacing-sm) var(--spacing-md);
                &:hover {
                    opacity: 1;
                    transition: opacity 0.5s ease-in-out;
                }
                .search-icon-image {
                    object-fit: cover;
                    width: var(--img-lg);
                    height: auto;
                }
            }
        }
        .search-bar-container {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: var(--spacing-sm);
            .search-bar-input {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                font-size: 16px;
                transition: border-color 0.3s;
                backdrop-filter: blur(1.5px);
                background-color: var(--primary-color-tr);
                padding: var(--spacing-md);
                border-radius: var(--radius-md);
                color: white;
                &::placeholder {
                    color: white;
                }

                /* Estilos para el autocompletado */
                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus,
                &:-webkit-autofill:active {
                    -webkit-box-shadow: 0 0 0 30px var(--primary-color) inset !important;
                    -webkit-text-fill-color: white !important;
                    transition: background-color 5000s ease-in-out 0s;
                }
            }

            .search-bar-input:focus {
                outline: none;
            }

            .search-bar-button{
                height: 100%;
                border: 2px solid #ccc;
                backdrop-filter: blur(1.5px);
                background-color: var(--primary-color-tr);
                padding: var(--spacing-md);
                border-radius: var(--radius-md);
                color: white;
                &:hover {
                    cursor: pointer;
                    background-color: var(--primary-color);
                    transition: background-color 0.5s ease-in-out;
            }
        }
    }
</style>
